.app {
  min-height: 100vh;
  background: whitesmoke;

  .logo {
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }

  .wrapper {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

  }
}